.quiz {
    width: 50vw;
    height: 50vh;

    display: flex;
    justify-content: center;
    align-items: center;

    .MuiSvgIcon-root {
        width: 300px;
        height: 300px;
    }
}

.quiz__no {
    transform: translateX(40px);

    &.MuiCheckbox-colorSecondary.Mui-checked {
        color: red;
    }

    &.Mui-checked {
        .MuiSvgIcon-root {
            color: red;
        }
    }
}

.quiz__yes {
    transform: translateX(-40px);

    &.MuiCheckbox-colorSecondary.Mui-checked {
        color: green;
    }

    &.Mui-checked {
        .MuiSvgIcon-root {
            color: green;
        }
    }
}
