@import "index.scss";

.result {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 1;

    display: flex;
    padding: 2vw 2vw;
    justify-content: center;
    align-items: center;

    transition: opacity 1000ms;

    .result__overlay {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;
        z-index: 1001;

        opacity: 0.7;
        background-color: $black_color;
    }
}

.result__hide {
    z-index: -999;
    opacity: 0;
}


// Result box 디자인이 거슬림 어떻게 할까 ?
.result__box {
    opacity: 1;

    width: 30vw;
    height: 50vh;
    z-index: 1002;
    padding: 20px 40px;
    background-color: rgba(255, 255, 255, 1);
    // backdrop-filter: blur(10px);
    // clip-path: polygon(95% 0, 100% 50%, 95% 100%, 0% 100%, 5% 50%, 0% 0%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.result__title {
    width: 100%;
    height: 60%;

    display: flex;
    flex-direction: column;
    align-items: center;

    .title__header {
        font-size: 30px;
        color: $main_color;
    }

    .title__info {
        align-self: flex-end;
        font-size: 16px;
        color: #b3a48f;
    }
}

.result__button {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    button {
        height: 60px;
        
        a {
            all: unset;
            font-size: 22px;
            color: $main_color;    
        }
    }
}
