@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700;900&display=swap");

$main_color: #f79e1c;
$black_color: #141310;
$white_color: white;
$transition_time: 1000ms;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans KR", sans-serif;
}

.app {
    width: 100vw;
    height: 100vh;

    background-size: cover;
    background-image: url("https://likelion.net/assets/home/slide/02-background-be82ae1605d3b8d909373f516e7aa593da9ab78ded7efd9177f94977d916b1c6.png");

    display: flex;
    justify-content: center;
    align-items: center;
}

.loading {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    background-color: $black_color;

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 1;
    transition: opacity 800ms;

    .loading__circle {
        width: 303px;
        height: 303px;
        border-radius: 50%;
        border: 8px solid $main_color;
        animation: loading infinite 1500ms;
    }
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
        border-radius: 50%;
    }
    50% {
        transform: rotate(180deg);
        border-radius: 33%;
    }

    100% {
        transform: rotate(360deg);
        border-radius: 50%;
    }
}

.loading__end {
    opacity: 0;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 8%;
    z-index: 10;

    .nav__logo {
        font-size: 21px;
        width: 180px;
        color: white;
        transition: color 300ms;
        &:hover {
            color: #f79e1c;
        }
    }

    .nav__element {
        font-size: 16px;
        width: 180px;
        color: #f79e1c;
    }

    a {
        all: unset;
    }
}

.slide-enter,
.slide-exit {
    transition: all $transition_time ease-in-out;

    .background {
        transition: transform $transition_time ease-in-out 100ms;
    }

    .quiz__progress {
        transition: transform $transition_time;
    }

    .result {
        transition: transform $transition_time;
    }

    .result__overlay {
        transition: opacity $transition_time;
    }
}

.slide-enter {
    transform: scale(1.2);
    opacity: 0;
    z-index: 1;
}

.slide-enter.slide-enter-active {
    transform: scale(1);
    opacity: 1;
}

.slide-exit {
    position: absolute;
    transform: translateX(0%);
    z-index: 0;
}

.slide-exit-active {
    transform: translateX(120vw);

    .background {
        transform: translateX(-200vw);
    }

    .quiz__progress {
        transform: translateY(10vh);
    }

    .result {
        transform: translateY(-100vh);
    }

    .result__overlay {
        transform: translateX(-100vw);
        opacity: 0;
    }
}

@media screen and (max-width: 1000px) {
    .app {
        background-position: center;
    }

    .nav {
        width: 100vw;
        height: 12vh;
        // justify-content: space-around;
        padding: 20px 1vw;

        .nav__logo {
            font-size: 16px;
            width: 40vw;
        }

        .nav__elements {
            display: flex;
        }

        .nav__element {
            font-size: 13px;
            width: 30vw;
        }
    }

    .loading {
        .loading__circle {
            width: 50vw;
            height: 50vw;
        }
    }
}
