.nav {
    width: 100vw;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 10%;

    .nav__logo {
        font-size: 21px;
        width: 180px;

        color: white;
        transition: color 300ms;

        &:hover {
            color: #F79E1C;
        }
    }

    .nav__element {
        font-size: 16px;
        width: 180px;
        color: #F79E1C;
    }

    a {
        all: unset;
    }
}
