.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 10%;
    z-index: 10;
    
    .nav__logo {
        font-size: 21px;
        width: 180px;
        color: white;
        transition: color 300ms;
        &:hover {
            color: #f79e1c;
        }
    }

    .nav__element {
        font-size: 16px;
        width: 180px;
        color: #f79e1c;
    }

    a {
        all: unset;
    }
}
